.btn_search {
    background: url(../img/search.svg) no-repeat center center;
    height: 36px;
    width: 36px;
}

.btn_menu {
    padding: 6px;
}

.btn_menu>img {

    height: 28px;
    width: 28px;
}

.fMenu {
    font-size: 0.7rem;
}

.fMenu li {
    position: relative;
}

.fMenu li::after {
    content: "";
    position: absolute;
    top: 8px;
    right: -12px;
    background-color: #dee2e6;
    width: 1px;
    height: 16px;
}

.carousel-size {
    height: 600px;
}
.itemImg {
    background-color: green;
    display: -webkit-inline-box;
    width: 100%;
    height: 170px;
}
.mainH {
   min-height: 48vh;
   margin-top: 226px;
}

.logoBox {
    overflow: hidden;
    height: 122px;
}
#header {
	top:0;
	z-index: 99;
}
.headerF {
    z-index: 99;
    position: fixed;
    width: 100%;
    background: white;
}
.headerFH {
    display: none;
    height: 0;
}

.gnb_bar {
	border-bottom: 2px solid #7CB342;
}

.topNav {
	font-size: .8rem;
}

.top_find > form input{
	font-size: .8rem;
	padding: 2px 8px;
}

/* �쟾泥� 硫붾돱 */
.all_menu {
    /* width: 880px; */
    border-radius: 0;
    margin-top: 9px;
}
.all_menu .btn_menu_R {
    width: 180px;
}
.all_menu .btn_menu_L {
    width: 600px;
}
.btn_menu_L_W {
    width: 140px;
    text-align: center;
    position: relative
}
.btn_menu_L_W::after {
    content: "";
    position: absolute;
    background-color: #7CB342;
    width: 80%;
    height: 8px;
    top: 32px;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
    opacity: .8;
}

.popupBox {
	width: 25%;
}

/* 占쌩곤옙 */
.page_title {
	font-weight: bold;
	color: #444;
}

.page_subtitle {
	font-size: .9rem;
}

a:hover {
	text-decoration: none;
}

.placeholderText::after {
	content: "";
	position: absolute;
	color: red;
}

.top_memberName {
	font-size: 1rem;
	position: relative;
	top: 20%;
}

.top_memberName>span {
	font-weight: bold;
}

/* �븷�씤媛� �몴�떆 */
.discountBox {
	position: relative;
	width: 100%;
}

.discountBox::before {
	position: absolute;
	content: "";
	background-color: red;
	width: 100%;
	height: 1px;
	top: 12px;
	left: 0;
}

.ftco-navbar-light {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 3;
}

.ftco-navbar-light.scrolled {
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	margin-top: -130px;
	-webkit-box-shadow: 0 0 10px 0 rgb(0 0 0/ 10%);
	box-shadow: 0 0 10px 0 rgb(0 0 0/ 10%);
}

.ftco-navbar-light.scrolled.awake {
	margin-top: 0px;
	-webkit-transition: .3s all ease-out;
	-o-transition: .3s all ease-out;
	transition: .3s all ease-out;
}

.ftco-navbar-light.scrolled.sleep {
	-webkit-transition: .3s all ease-out;
	-o-transition: .3s all ease-out;
	transition: .3s all ease-out;
}

.productImgBox {
	width: 100%;
    display: block;
    overflow: hidden;
    height: 180px;
}
.productListTitle {
    overflow: hidden;
    width: 100%;
    height: 48px;
}
.ell {
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* ellipsis line */
	-webkit-box-orient: vertical;

	line-height: 1.5em;
	height: 3.9em;
}
.btn_product {
	width: 50%;
}
.prodbox {
	    border-radius: 2px;
}
.prodbox:hover {
	    box-shadow: 0 0 4px 4px rgba(0,0,0,.1);
}
.inputBoxReadonly[readonly] {
	border: 0 none;
    border-left: 1px solid #ced4da;
    background: transparent;
    border-radius: 0;
    pointer-events: none;
}
.inputReadonly[readonly] {
	border: 0 none;
    background: transparent;
    border-radius: 0;
    pointer-events: none;
}
label {
	font-weight: bold;
}
.noticeOver{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%
    }
/*-------------------------------------------------------------------- */

@media screen and (min-width: 1200px) {
	.prodList {
		width: 20%;
	}
	.prodDetailPageOderBox {
		width: 50%;
	}
}
@media screen and (max-width: 1200px) {
	.prodList {
		width: 25%;
	}
	.prodDetailPageOderBox {
		width: 50%;
	}
}
@media screen and (max-width: 992px) {
	.prodList {
		width: 33%;
	}
	.prodDetailPageOderBox {
		width: 50%;
	}
}
@media screen and (max-width: 768px) {
	.prodList {
		width: 50%;
	}
	.prodDetailPageOderBox {
		width: 100%;
	}
}
@media screen and (max-width: 576px) {
	.prodList {
		
	}
}